In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.691093         0    7          0           0              1
1  100.407775         0   33          0          -1              1
2  101.337055         0   49          0          -1              0
3  100.908090         0   88          0           0              1
4   98.233017         1   31          0           1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2602  100.518298         1   23          1          -1              1
2603  100.161186         0    4          1           0              0
2604   98.858767         1   63          1           1              0
2605  100.374600         0   45          0          -1              0
2606   99.296173         1   11          0          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2607 entries, 0 to 2606
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2607 non-null   float64
 1   bodyPain       2607 non-null   int64
 2   age            2607 non-null   int64
 3   runnyNose      2607 non-null   int64
 4   diffBreath     2607 non-null   int64
 5   infectionProb  2607 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 122.3 KB

In [6]:
df['diffBreath'].value_counts()

 1    889
 0    863
-1    855
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000
mean,99.993517,0.497890,50.375527,0.504411,0.013042,0.491369
std,1.165043,0.500091,28.555337,0.500076,0.817958,0.500021
min,98.000641,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.996886,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.012380,0.000000,50.000000,1.000000,0.000000,0.000000
75%,101.005357,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.999648,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data , ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size] 
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices] , data.iloc[test_indices]

In [10]:
train , test = data_split(df,0.2)

In [11]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1382   99.600736         1   71          0           0              1
48    101.351299         0   97          1           1              1
1462   99.615318         0   63          1          -1              1
1965   98.710157         1   79          0           0              0
719    98.942596         1   40          1           1              0
...          ...       ...  ...        ...         ...            ...
1638  101.093573         0   86          1           0              1
1095   99.112689         0   42          0           0              1
1130   98.967717         1   36          0           0              1
1294   98.950131         1   57          1          -1              0
860    99.693360         1   43          0           1              1

[2086 rows x 6 columns]

In [12]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
782   101.784027         1   27          0           1              1
786   100.407599         0   36          1           0              0
602   100.041386         1   12          1           0              1
420    99.554110         0   31          1           0              0
2319   98.597000         0   19          0          -1              0
...          ...       ...  ...        ...         ...            ...
1916  100.477864         1   69          0           0              1
166   100.863854         1   63          1          -1              1
2129  101.719176         1   42          0          -1              0
49     99.242035         0   92          1           1              1
2509  101.077771         1   91          0           1              0

[521 rows x 6 columns]

In [13]:
X_train = train[['fever' , 'bodyPain' , 'age' , 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever' , 'bodyPain' , 'age' , 'runnyNose', 'diffBreath']].to_numpy()

In [14]:
Y_train = train['infectionProb'].to_numpy()
Y_test = test['infectionProb'].to_numpy()

In [15]:
Y_train

array([1, 1, 1, ..., 1, 0, 1], dtype=int64)

In [16]:
X_train

array([[ 99.60073631,   1.        ,  71.        ,   0.        ,
          0.        ],
       [101.3512987 ,   0.        ,  97.        ,   1.        ,
          1.        ],
       [ 99.61531757,   0.        ,  63.        ,   1.        ,
         -1.        ],
       ...,
       [ 98.96771729,   1.        ,  36.        ,   0.        ,
          0.        ],
       [ 98.95013089,   1.        ,  57.        ,   1.        ,
         -1.        ],
       [ 99.69335971,   1.        ,  43.        ,   0.        ,
          1.        ]])

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train , Y_train)

LogisticRegression()

In [19]:
input_features = [100,1,22,1,1]
infProb = clf.predict_proba([input_features])[0][1]

In [20]:
infProb

array([[0.48124859, 0.51875141]])